<!--The content below is only a placeholder and can be replaced.-->
<!--<div style="text-align:center">-->
<!--</div>-->
<!--<input [(ngModel)] = "_movie.inputMovieTitle" type="text" name="movieTitle">-->
<!--<button (click) = 'inputMovieData()'>Click Me!!!</button>-->
<!--<button (click) = 'getMovieData()'>Click</button>-->
<header class="header-6">
    <div class="branding">
        ...
    </div>
    <div class="header-nav">
        <a routerLink="register" class="active nav-link nav-text">Sign Up</a>
        <a routerLink="login" class="nav-link nav-text">LogIn</a>
    </div>
    <div class="header-actions">
        <a href="javascript://" class="nav-link nav-icon">
            <clr-icon shape="cog"></clr-icon>
        </a>
    </div>
</header>
<router-outlet></router-outlet>
