<!--The content below is only a placeholder and can be replaced.-->
<!--<div style="text-align:center">-->
<!--</div>-->
<!--<input [(ngModel)] = "_movie.inputMovieTitle" type="text" name="movieTitle">-->
<!--<button (click) = 'inputMovieData()'>Click Me!!!</button>-->
<!--<button (click) = 'getMovieData()'>Click</button>-->
<header class="header-6">
    <div class="branding">
        <img src="./assets/movies.png">
    </div>
    <div class="header-nav">
        <a routerLink="home" class="nav-link nav-text">Home</a>
        <!--<a routerLink="" class="nav-link nav-text">Upcoming</a>-->
        <!--<a routerLink="" class="nav-link nav-text">Popular</a>-->
        <a routerLink="register" class="nav-link nav-text">Sign Up</a>
        <a routerLink="login" class="nav-link nav-text">LogIn</a>
         <div class="search">
            <label for="search_input">
            <input id="search_input" (keyup.enter)="searchMovie()" type="text" placeholder="Search for Movies..." name="movie" [(ngModel)]="movie">
            </label>
        </div>
        <!--<input type="text" class="nav-link nav text" placeholder="Search Movies"-->
        <!--      name="movie"-->
        <!--      [(ngModel)]="movie">-->
              
    </div>
    <div class="header-actions">
        <a href="javascript://" class="nav-link nav-icon">
            <clr-icon shape="cog"></clr-icon>
        </a>
    </div>
</header>
<router-outlet></router-outlet>
